In [52]:
import pandas as pd

excel_input = 'updated_materials_data.xlsx'

In [53]:
production_data_Abrasives = pd.read_excel(excel_input, sheet_name='Abrasives_raw_info')

production_data_Fluorspar = pd.read_excel(excel_input, sheet_name='Fluorspar_raw_info')

composition_df = pd.read_excel(excel_input, sheet_name='chem_compo_db')

In [54]:
composition_df

,sub_material_name,chemical_composition
0,Fused aluminum oxidee,"{'Al': 52.9%, 'O': 47.1%}"
1,Silicon Carbide,"{'Si': 70%, 'C': 30%}"
2,Metallic Abrasives,"{'Fe': 98%, 'C': 1.5%, 'Mn': 0.5%}"
3,Antimony,{'Sb': 100%}
4,Arsenic,{'As': 100%}
5,Beryllium,{'Be': 100%}
6,Bromine,{'Br': 100%}
7,Cesium Oxide (Cs���,"{'Cs': 76.2%, 'O': 23.8%}"
8,Chromium,{'Cr': 100%}
9,Cobalt,{'Co': 100%}
10,Copper,{'Cu': 100%}
11,Fluorspar (Fluorite),"{'Ca': 51.3%, 'F': 48.7%}"
12,Gallium,{'Ga': 100%}
13,GARNET (INDUSTRIAL),"{'Fe': 40.0%, 'Al': 22.0%, 'Si': 35.0%, 'Mg': ..."
14,Germanium (Ge),{'Ge': 100%}
15,Helium Gas,{'He': 100%}
16,Pig Iron,"{ 'Fe': 90.0, 'C': 4%, 'Si': 3.0%, 'Mn': 1...."
17,Raw steel,"{ 'Fe': 98.0%, 'C': 0.80%, 'Mn': 0.90%, 'Si': ..."
18,Usable ore,"{'Fe': 70.0%, 'O': 30.0%'}"
19,iron,{'Fe': 100%}
20,kyanite,"{ 'Al': 60.0%, 'Si': 28.3%, 'O': 11.7% }"
21,magnesium oxide (MgO),"{ 'Mg': 60.3%, 'O': 39.7% }"
22,marketable phosphate rock,"{ 'Ca': 37.4%, 'P': 18.5%, 'O': 43%, 'F': 1.1% }"
23,potassium oxide (K2O),"{ 'K': 83.0%, 'O': 17.0% }"
24,rubidium oxide,"{ 'Rb': 93.5%, 'O': 6.5% }"
25,Sponge,{ 'Ti': 100% }
26,Pigment,"{ 'Ti': 59.9%, 'O': 40.1% }"
27,titanium dioxide (TiO2),"{ 'Ti': 59.9%, 'O': 40.1% }"
28,yttrium oxide (Y2O3),"{ 'Y': 68.9%, 'O': 31.1% }"
29,Zirconium mineral concentrates,"{ 'Zr': 67.7%, 'Si': 17.3%, 'O': 15% }"
30,ZrO2 content,"{ 'Zr': 68.3%, 'O': 31.7% }"
31,Alumina,"{ 'Al': 52.9%, 'O': 47.1% }"
32,FELDSPAR AND NEPHELINE SYENITE,"{ 'K': 9.0%, 'Na': 5.0%, 'Al': 18.0%, 'Si': 49..."
33,STEEL SCRAP,"{ 'Fe': 98.0%, 'C': 1%, 'Mn': 0.5%, 'Si': 0.3%..."
34,IRON OXIDE PIGMENTS,"{ 'Fe': 70.0, 'O': 30.0 }"

In [59]:
production_df_abrasives = production_data_Abrasives.drop(['remark', 'chemical_composition', 'metric_conv_factor', 'Empty_0', 'Empty_1', 'Unnamed: 10'], axis=1)

production_df_abrasives

,text.1,text_1.1,text_2.1,text_3.1,text_4.1
0,NaN,Fused aluminum oxidee,Fused aluminum oxidee,Silicon carbidee,Silicon carbidee
1,NaN,2022,2023,2022,2023
2,United States,—,—,"40,000","40,000"
3,United States and Canada,"60,000","60,000",—,—
4,Australia,"50,000","50,000",—,—
5,Austria,"90,000","90,000",—,—
6,Brazil,"50,000","50,000","40,000","40,000"
7,China,"800,000","800,000","450,000","450,000"
8,France,"40,000","40,000","20,000","20,000"
9,Germany,"80,000","80,000","35,000","35,000"
10,India,"40,000","40,000","5,000","5,000"
11,Japan,"15,000","15,000","60,000","60,000"
12,Mexico,—,—,"45,000","45,000"
13,Norway,—,—,"80,000","80,000"
14,Venezuela,—,—,"30,000","30,000"
15,Other countries,"80,000","80,000","200,000","200,000"
16,World total (rounded),"1,310,000","1,300,000","1,000,000","1,000,000"

In [56]:
production_df_fluorspar = production_data_Fluorspar.drop(['remark', 'chemical_composition', 'metric_conv_factor', 'Empty_0', 'Empty_1'], axis=1)

production_df_fluorspar

                   text.1         text_1.1         text_2.1   text_3.1
0                     NaN  Mine production  Mine production  Reserves4
1                     NaN             2022            2023e        NaN
2           United States              NaN              NaN        NaN
3                   China            5,700            5,700     67,000
4                 Germany               60               60        NaN
5                    Iran              116              120      4,500
6                  Mexico            1,000             1000     68,000
7                Mongolia              425              930     34,000
8                Pakistan               52               52        NaN
9            South Africa              406              410     41,000
10                  Spain              153              150     15,000
11                Vietnam              218              170      3,400
12        Other countries              190              170     50,000
13  World total (rounded)            8,320            8,800    280,000

In [60]:
import pandas as pd
import numpy as np

def process_production_table(df, composition_df):
    # Remove 'text.' columns and rename remaining columns
    df = df.drop(columns=[col for col in df.columns if col.startswith('text.')])
    df.columns = ['Country'] + list(df.iloc[1])
    df = df.drop([0, 1])  # Remove the first two rows which were headers
    
    # Replace '—' with NaN and convert to numeric
    for col in df.columns[1:]:
        df[col] = pd.to_numeric(df[col].replace('—', np.nan), errors='coerce')
    
    # Find materials in the table
    materials = []
    for index, row in composition_df.iterrows():
        if any(row['sub_material_name'].lower() in col.lower() for col in df.columns):
            materials.append((row['sub_material_name'], row['chemical_composition']))
    
    for material, composition in materials:
        # Parse the composition
        composition_dict = {k.strip(): float(v.strip('%'))/100 for k, v in 
                            [item.split(':') for item in composition.strip('{}').split(',')]}
        
        if len(composition_dict) < 2:
            continue
        
        # Identify columns related to this material
        material_cols = [col for col in df.columns if material.lower() in col.lower()]
        
        # Create new columns for each element in the composition
        for col in material_cols:
            for element, percentage in composition_dict.items():
                new_col = f'{col}_{element}_content'
                df[new_col] = df[col] * percentage
    
    return df

In [61]:
processed_abrasives = process_production_table(production_df_abrasives, composition_df)
processed_fluorspar = process_production_table(production_df_fluorspar, composition_df)

print("Processed Abrasives Table:")
print(processed_abrasives)
print("\nProcessed Fluorspar Table:")
print(processed_fluorspar)

ValueError: Length mismatch: Expected axis has 4 elements, new values have 5 elements

In [68]:
processed_fluorspar

                   text.1              1.1              2.1        3.1
0                     NaN  Mine production  Mine production  Reserves4
1                     NaN             2022            2023e        NaN
2           United States              NaN              NaN        NaN
3                   China            5,700            5,700     67,000
4                 Germany               60               60        NaN
5                    Iran              116              120      4,500
6                  Mexico            1,000             1000     68,000
7                Mongolia              425              930     34,000
8                Pakistan               52               52        NaN
9            South Africa              406              410     41,000
10                  Spain              153              150     15,000
11                Vietnam              218              170      3,400
12        Other countries              190              170     50,000
13  World total (rounded)            8,320            8,800    280,000

In [74]:
import pandas as pd
import re

# Sample data as DataFrames
data1 = pd.DataFrame({
    'text_1': [None, None, 'United States', 'United States and Canada'],
    'text_1.1': ['Fused aluminum oxidee', '2022', None, '60,000'],
    'text_2.1': ['Fused aluminum oxidee', '2023', None, '60,000'],
    'text_3.1': ['Silicon carbidee', '2022', '40,000', None],
    'text_4.1': ['Silicon carbidee', '2023', '40,000', None],
    'Unnamed: 10': [None, None, None, None]
})

data2 = pd.DataFrame({
    'sub_material_name': ['Fused aluminum oxidee', 'Silicon carbidee', 'Metallic Abrasives', 'Antimony'],
    'chemical_composition': [
        {'Al': 52.9, 'O': 47.1}, 
        {'Si': 70, 'C': 30}, 
        {'Fe': 98, 'C': 1.5, 'Mn': 0.5}, 
        {'Sb': 100}
    ]
})

# Extracting the relevant chemical composition for each material
composition_dict = data2.set_index('sub_material_name')['chemical_composition'].to_dict()

# Function to calculate the production for each element
def calculate_production(row, year, element):
    material_name = None

    # Identify the material name in the row
    for material in composition_dict.keys():
        if material.lower() in [str(row[col]).lower() for col in row.index]:
            material_name = material
            break

    if material_name is None:
        return None

    for col in row.index:
        col_str = str(row[col]) if row[col] is not None else ""

        # Match the year and material production column
        if re.search(f"{year}", col_str) and material_name.lower() in str(row['text_1.1']).lower():
            try:
                production = float(re.sub(r'[^\d.]', '', col_str))  # Remove commas and non-numeric characters
                return production * (composition_dict[material_name][element] / 100)
            except ValueError:
                return None
    return None

# Dynamically adding columns for each element based on the chemical composition
for material in composition_dict.keys():
    for element in composition_dict[material].keys():
        for year in ['2022', '2023']:
            col_name = f"{element}_{year}"
            data1[col_name] = data1.apply(lambda row: calculate_production(row, year, element), axis=1)

# Show the result
print(data1)

                     text_1               text_1.1               text_2.1  \
0                      None  Fused aluminum oxidee  Fused aluminum oxidee
1                      None                   2022                   2023
2             United States                   None                   None
3  United States and Canada                 60,000                 60,000

           text_3.1          text_4.1 Unnamed: 10 Al_2022 Al_2023 O_2022  \
0  Silicon carbidee  Silicon carbidee        None    None    None   None
1              2022              2023        None    None    None   None
2            40,000            40,000        None    None    None   None
3              None              None        None    None    None   None

  O_2023 Si_2022 Si_2023 C_2022 C_2023 Fe_2022 Fe_2023 Mn_2022 Mn_2023  \
0   None    None    None   None   None    None    None    None    None
1   None    None    None   None   None    None    None    None    None
2   None    None    None   None   None    None    None    None    None
3   None    None    None   None   None    None    None    None    None

  Sb_2022 Sb_2023
0    None    None
1    None    None
2    None    None
3    None    None